---
name: Test

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pytest:
    runs-on: "ubuntu-latest"
    name: Run tests
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
          python-version: ${{ matrix.python-version }}
      - run: python3 -m pip install -r requirements-dev.txt
      - run: python3 -m pytest --cov=custom_components
